---
layout: default
---

<div class="uk-container uk-container-small">

    <article class="uk-article">
        {{ content }}
    </article>

    {% if page.formspree.email %}
    <h3 class="uk-margin-large-top">Contact</h3>
    
<form
action="https://formspree.io/f/mknpvjbj"
method="POST"
>
<label>
  Your email:
  <input type="text" name="_replyto">
</label>
<label>
  Your message:
  <textarea name="message"></textarea>
</label>

<!-- your other form fields go here -->

<button type="submit">Send</button>
</form>
    {% endif %}

</div>
